alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1657813896088/work
altair @ file:///home/conda/feedstock_root/build_artifacts/altair_1640799865332/work
ApexTrackerPy==1.8.3
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1649077682618/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi-bindings_1649500366121/work
arviz @ file:///home/conda/feedstock_root/build_artifacts/arviz_1657673190308/work
asn1crypto @ file:///home/conda/feedstock_root/build_artifacts/asn1crypto_1647369152656/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1660605382950/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1659291887007/work
autopage==0.4.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1649463573192/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1656355450470/work
blinker==1.4
blis @ file:///Users/runner/miniforge3/conda-bld/cython-blis_1656314587498/work
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1648854211613/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1660055382950/work
catalogue @ file:///Users/runner/miniforge3/conda-bld/catalogue_1661366575719/work
catboost @ https://pypi.org/packages/cp39/c/catboost/catboost-1.0.4-cp39-none-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl
category-encoders @ file:///home/conda/feedstock_root/build_artifacts/category_encoders_1654207317325/work/dist
certifi==2022.6.15.1
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1656782892895/work
cftime @ file:///Users/runner/miniforge3/conda-bld/cftime_1656803731690/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
chart-studio==1.1.0
click @ file:///Users/runner/miniforge3/conda-bld/click_1651215220522/work
cliff==3.9.0
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1662587369221/work
cmaes==0.8.2
cmd2==2.2.0
cmdstanpy @ file:///home/conda/feedstock_root/build_artifacts/cmdstanpy_1618931796384/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
colorlog==6.5.0
colorlover==0.3.0
commonmark==0.9.1
configparser @ file:///home/conda/feedstock_root/build_artifacts/configparser_1660952164778/work
convertdate @ file:///home/conda/feedstock_root/build_artifacts/convertdate_1642883757836/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1657174062636/work
cufflinks==0.17.3
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cymem @ file:///Users/runner/miniforge3/conda-bld/cymem_1649412235004/work
Cython @ file:///Users/runner/miniforge3/conda-bld/cython_1659102007417/work
dartsclone==0.9.0
databricks-cli @ file:///home/conda/feedstock_root/build_artifacts/databricks-cli_1661538986964/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
datefinder @ file:///home/conda/feedstock_root/build_artifacts/datefinder_1661205257136/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1660619093894/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
docker @ file:///Users/runner/miniforge3/conda-bld/docker-py_1638897454416/work
docker-pycreds==0.4.0
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
ephem @ file:///Users/runner/miniforge3/conda-bld/ephem_1662799333723/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1661768596365/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1658064924516/work/dist
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1660054669620/work
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1645629044586/work/source/flit_core
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1661381423490/work
funcy @ file:///home/conda/feedstock_root/build_artifacts/funcy_1640095670534/work
future @ file:///Users/runner/miniforge3/conda-bld/future_1649010190079/work
gensim @ file:///Users/runner/miniforge3/conda-bld/gensim_1659079982839/work
ginza==5.0.3
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1635085722655/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1645531658201/work
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1641732975741/work
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1661444158909/work
gunicorn @ file:///Users/runner/miniforge3/conda-bld/gunicorn_1649384960370/work
hijri-converter @ file:///home/conda/feedstock_root/build_artifacts/hijri-converter_1653348285237/work
holidays @ file:///home/conda/feedstock_root/build_artifacts/holidays_1661252738306/work
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
htmlmin==0.1.12
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
ImageHash @ file:///home/conda/feedstock_root/build_artifacts/imagehash_1662336636413/work
imbalanced-learn @ file:///home/conda/feedstock_root/build_artifacts/imbalanced-learn_1652728311148/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1653252883293/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1658604161399/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1661804896699/work
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1662481590184/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1662482321563/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
ja-ginza==5.0.0
Janome @ file:///home/conda/feedstock_root/build_artifacts/janome_1645640822907/work
japanize-matplotlib==1.1.3
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1659959867326/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1662736858348/work
jupyter @ file:///Users/runner/miniforge3/conda-bld/jupyter_1637233342265/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1655961255101/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1661522530937/work
jupyter_core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1658332409400/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1649936611996/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1662157840858/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1657953144922/work
kmodes @ file:///home/conda/feedstock_root/build_artifacts/kmodes_1662507492080/work
korean-lunar-calendar @ file:///home/conda/feedstock_root/build_artifacts/korean_lunar_calendar_1589354365811/work
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
lightgbm @ file:///Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work
llvmlite==0.36.0
LunarCalendar==0.0.9
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1656759436279/work
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1661803928995/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1648737704633/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1661439919284/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
missingno==0.4.2
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1657892024508/work
ml-metrics==0.1.2
mlflow @ file:///Users/runner/miniforge3/conda-bld/mlflow-split_1660889010357/work
mlxtend @ file:///home/conda/feedstock_root/build_artifacts/mlxtend_1653660139588/work
mnist==0.2.2
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1612895720168/work
multimethod @ file:///home/conda/feedstock_root/build_artifacts/multimethod_1603129052241/work
munkres==1.1.4
murmurhash @ file:///Users/runner/miniforge3/conda-bld/murmurhash_1660630172975/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1662750566673/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1661238612475/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1651607001005/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1648959695634/work
netCDF4 @ file:///Users/runner/miniforge3/conda-bld/netcdf4_1661987264131/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1661192904448/work
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1640748215808/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1654636967533/work
numba @ file:///Users/runner/miniforge3/conda-bld/numba_1623568581246/work
numexpr @ file:///Users/runner/miniforge3/conda-bld/numexpr_1658076609760/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1662888924602/work
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1662766753257/work
optuna==2.10.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.4.4
pandas-profiling @ file:///home/conda/feedstock_root/build_artifacts/pandas-profiling_1651488952086/work
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pathy @ file:///home/conda/feedstock_root/build_artifacts/pathy_1656568808184/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1632667180946/work
pbr==5.7.0
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
phik @ file:///Users/runner/miniforge3/conda-bld/phik_1647910195633/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1660385906079/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
plac==1.3.3
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1660480772389/work
preshed @ file:///Users/runner/miniforge3/conda-bld/preshed_1660601920165/work
prettytable==2.4.0
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1649447152425/work
prometheus-flask-exporter @ file:///home/conda/feedstock_root/build_artifacts/prometheus_flask_exporter_1659451251797/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1662384672173/work
prophet @ file:///Users/runner/miniforge3/conda-bld/prophet_1629685357634/work
protobuf==3.20.1
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1662356194338/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyarrow==9.0.0
pycaret @ file:///home/conda/feedstock_root/build_artifacts/pycaret_1610072155158/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///Users/runner/miniforge3/conda-bld/pydantic_1660286522600/work
pydeck @ file:///home/conda/feedstock_root/build_artifacts/pydeck_1635208794731/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1660666458521/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1652398519695/work
pyLDAvis @ file:///home/conda/feedstock_root/build_artifacts/pyldavis_1616598811607/work
PyMeeus @ file:///home/conda/feedstock_root/build_artifacts/pymeeus_1615809745702/work
Pympler @ file:///home/conda/feedstock_root/build_artifacts/pympler_1658620692385/work
pynndescent @ file:///home/conda/feedstock_root/build_artifacts/pynndescent_1652648933546/work
pyod @ file:///home/conda/feedstock_root/build_artifacts/pyod_1659150635841/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyperclip==1.8.2
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1649013453068/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pystan @ file:///Users/runner/miniforge3/conda-bld/pystan_1620824193229/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1660580468234/work
pytz-deprecation-shim @ file:///Users/runner/miniforge3/conda-bld/pytz-deprecation-shim_1656249555700/work
PyWavelets @ file:///Users/runner/miniforge3/conda-bld/pywavelets_1649616473172/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1648757420486/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1660329100211/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole-base_1661698361365/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1660233836213/work
querystring-parser==1.2.4
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1662946249241/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
retrying==1.3.3
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1657572325116/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1659726144131/work
scikit-plot==0.3.7
scipy==1.9.1
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1662491375569/work
semver @ file:///home/conda/feedstock_root/build_artifacts/semver_1603697772578/work
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
setuptools-git==1.2
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1659638615822/work
sip==4.19.13
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
sortedcontainers==2.1.0
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
spacy @ file:///Users/runner/miniforge3/conda-bld/spacy_1658931811656/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1660748275723/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1661365735520/work
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1662536268560/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1631317292236/work
srsly @ file:///Users/runner/miniforge3/conda-bld/srsly_1658344498536/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1661624565828/work
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1654787150743/work
stevedore==3.5.0
streamlit @ file:///home/conda/feedstock_root/build_artifacts/streamlit_1661826489582/work
SudachiDict-core==20210802.post1
SudachiPy==0.5.4
sympy @ file:///Users/runner/miniforge3/conda-bld/sympy_1661297144850/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1655900837660/work
tangled-up-in-unicode @ file:///home/conda/feedstock_root/build_artifacts/tangled-up-in-unicode_1632832610704/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1626090218611/work
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1652790663188/work
textblob==0.15.3
thinc @ file:///Users/runner/miniforge3/conda-bld/thinc_1657300632800/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1637612658783/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1656938113699/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1662214488106/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1655411388954/work
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1657029164904/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1656706066251/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1660582595106/work
tzlocal @ file:///Users/runner/miniforge3/conda-bld/tzlocal_1656260002193/work
ujson @ file:///Users/runner/miniforge3/conda-bld/ujson_1661875760108/work
umap-learn @ file:///Users/runner/miniforge3/conda-bld/umap-learn_1649908198634/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1649111971119/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
validators @ file:///home/conda/feedstock_root/build_artifacts/validators_1608296160673/work
visions @ file:///home/conda/feedstock_root/build_artifacts/visions_1632831254311/work
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1658931821849/work
watchdog @ file:///Users/runner/miniforge3/conda-bld/watchdog_1654901099253/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1662334000707/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1660053523487/work
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1662157836868/work
wordcloud @ file:///Users/runner/miniforge3/conda-bld/wordcloud_1661463928215/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1658844022165/work
xarray-einstats @ file:///home/conda/feedstock_root/build_artifacts/xarray-einstats_1655671011237/work
xfeat==0.1.1
xgboost==1.6.2
yellowbrick @ file:///home/conda/feedstock_root/build_artifacts/yellowbrick_1661212213188/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1659400682470/work
